/*

COPYRIGHT SHANNON PATON 2022 ALL RIGHTS RESERVED

*/


@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&family=Merriweather:ital,wght@0,300;0,400;1,400&display=swap');

* {
	margin: 0 auto;
}

.home-body {
	/*pink gradient*/
	background: linear-gradient(90deg, hsla(0, 87%, 79%, 1) 0%, hsla(0, 78%, 82%, 1) 100%);
}

.about-body {
	/*yellow gradient*/
	background: linear-gradient(90deg, hsla(49, 87%, 64%, 1) 0%, hsla(49, 81%, 66%, 1) 59%, hsla(49, 96%, 78%, 1) 98%);
}

.projects-body {
	/*blue gradient*/
	background: linear-gradient(90deg, hsla(174, 38%, 52%, 1) 0%, hsla(174, 54%, 62%, 1) 100%);
}

/*

NAVIGATION STYLING

*/

header {
  max-width: 100%;
  height:  100px;
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;

  /*position of background image*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*whole nav*/
nav {
  position: relative;
  float: right;
  top: 5%;
  padding-right: calc(6% - 25px);
}

/*unordered list*/
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*each list item*/
nav li {
  display: inline-block;
  margin-left: 25px;
  padding: 25px 0 25px 0;
}

nav a {
  text-decoration: none;
  color: #171d22; /* very dark */
  font-size: 1em;
}

nav a:hover {
	color: #454a4e;
}


/*

PAGE COPY STYLING

*/


h1 {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 3em;
	color: #171d22; /* very dark */
}

h2 {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1.8em;
	font-style: italic;
	color: #171d22; /* very dark */
}

h3 {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1.3em;
	color: #171d22; /* very dark */
}


p {
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 1.6em;
	padding-bottom: 3%;
}

a {
	color: #5E38C5; /* ocean blue */
}

mark {
	background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=fbe276);
	/*background-color: rgba(251,226,118,1);*/
}

/*wrapper for main h1 & h2 of page*/
.intro-wrapper {
	margin-left: 6%;
	width: 65%;
}

.intro-section {
	padding-top: 5%;
}

/*

GRID STYLING

*/


.grid-container {
	padding-top: 5%;
	padding-bottom: 5%;
	display: grid;
	grid-template-columns: 50% 50%;
	margin-left: 0%;
}

/*

PHOTO GRID STYLING

*/

div.grid-cell {
	margin-left: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

img:hover {
	filter: brightness(50%);
	cursor: pointer;
}

/*

TEXT GRID STYLING

*/

div.grid-cell-column-left {
	margin-left: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.grid-cell-column-left p {
	color: white;
}


button:hover {
	cursor: pointer;
}


















